body {
    padding-top: 10px;
    font-family: 'Arial', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center; 

}

.btn {
    background-image: linear-gradient(to right, #002b7f, #0047ab);
    color: #fff;
    padding: 11px 10px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px; 
    width: 100px;
    height: 15px;
    text-decoration: none;
}


.btn-primary {
    background-color: #1645aa;
    color: #fff;
    border-radius: 15px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.container {
    border-radius: 4px;
    width: 110%;
    max-width: 85%;
}

.little-container {
    width: 100%; 
    max-width: 600px; 
    margin: auto;
}

.little-container {
    width: 40%;
    margin: auto;
}

figcaption {
    text-align: center;
    margin: 3px auto;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    font-size: 16px; 
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
}

.img-thumbnail img {
    max-width: 100%; 
    height: auto; 
}

td {
    text-align: center;
}

.formularioJogo {
    display: flex;
}

.formularioImagem {
    margin-right: 16px
}

.buttons {
    margin-top: 16px
}

.inputBox {
    width: 700px;
}

.inputsJogo {
    width: 100%;
    margin-left: 1em;
    margin-bottom: 1em;
}

.navbar-pages {
    display: flex;
    align-items: center;
    font-size: calc(1.375rem + 1.5vw);
    margin-bottom: 20px;
    margin-top: 20px;
}


.title {
    font-weight: 700;
    color: #002b7f;
}

.table-container {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    align-items: center;
}

.table-container th {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border: 1px solid #e9ecef; 
}

.table-container td {
    padding: 5px; 
    border: 1px solid #e9ecef; 
}

.table-container tr:nth-child(even) {
    background-color: #f3f3f3; 
}

.table-container tr:hover {
    background-color: #e2f3ff; 
    transition: background-color 0.7s ease; 
    cursor: pointer;
}

.table-container td:first-child {
    width: 600px;
}

.pagination-buttons {
    margin-top: 20px;
    text-align: right;
}

.pagination-arrow {
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    color: #007bff;
    text-decoration: none;
}

.pagination-arrow.disabled {
    color: #ccc;
    pointer-events: none;
}

.pagination-dropdown-container {
    display: inline-block;
    margin: 0 10px;
}

.pagination-dropdown {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.pagination-dropdown:hover {
    background-color: #e9e9e9;
}

.pagination-dropdown:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 0 2px #007bff;
}

.actions{
    color: #333;
    margin: 2px;
}

.actions:hover {
    color: #80878f;
}

#search-input {
    width: 200px;
    height: 15px;
    padding: 10px; 
    margin-top: 10.3px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    background-color: #fff; 
    transition: border-color 0.3s ease; 
    align-items: center;
    border-radius: 15px;
}

#search-input:hover,
#search-input:focus {
    border-color: #007bff; 
    outline: none;
}

.navbar-buttons {
    margin-left: auto; 
    display: flex;
    align-items: center; 
}

.btn-primary {
    margin-left: 10px;
    
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }