{% extends "template.html" %}
{% block conteudo %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user/new-user.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
      <div class="form-user">
          <form action="{{ url_for('criar_user') }}" method="post" enctype="multipart/form-data">
            <fieldset>
              {{ form.csrf_token() }}
              <div>
                <label for="nome">Nome:</label>
                <div>
                  {{ form.nome(class="form-control") }}
                </div>
              </div>
              <div >
                <label for="user">Usuário:</label>
                <div>
                  {{ form.user(class="form-control") }}
                </div>
              </div>
              <div >
                <label for="senha" >Senha:</label>
                <div >
                  {{ form.senha() }}
                </div>
              </div>
              <div >
                <div class="action">
                  <button type="submit">Salvar</button>
                  <a href="{{ url_for('user') }}">Voltar</a>
                </div>
              </div>
            </fieldset>
          </form>
      </div>
      
      
{% endblock %}