{% extends "template.html" %}
{% block conteudo %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user/user.css') }}">

<div class="navbar-pages">
    <span class="title">{{ titulo }}</span>
    <div class="navbar-buttons">
        <input type="text" id="search-input" placeholder="Buscar...">
        <a class="btn btn-primary" href="{{ url_for('novo_user') }}">Novo Usuário</a>
    </div>
</div>

<table class="table-container">
    <thead class="thead-default">
        <tr>  
            <th style="text-align: center; vertical-align: middle;">Nome</th>
            <th style="text-align: center; vertical-align: middle;">Usuário</th>
            <th style="text-align: center; vertical-align: middle;">Perfil</th>
            <th style="text-align: center; vertical-align: middle;">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios.items %}
        <tr>
            <td style="text-align: center; vertical-align: middle;">{{ usuario.nome }}</td>
            <td style="text-align: center; vertical-align: middle;">{{ usuario.user }}</td>
            <td style="text-align: center; vertical-align: middle;">{{ usuario.profile }}</td>
            <td style="text-align: center; vertical-align: middle; width: 100px; height: 50px;">
                <!-- <a class="fa-solid fa-pen-to-square actions" style="font-size: 20px; text-decoration: none;" href="{{ url_for('editar_user', id=usuario.id) }}"></a> -->
                <a class="fa-solid fa-trash actions" style="font-size: 20px; text-decoration: none;" href="{{ url_for('deletar_user', id=usuario.id) }}"></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination-arrows" style="float: right;">   
    <div class="pagination-dropdown-container" >
        <select onchange="window.location.href=this.value" class="pagination-dropdown">
            {% for page_num in range(1, usuarios.pages + 1) %}
                <option value="{{ url_for('user', page=page_num) }} " {% if usuarios.page == page_num %} selected {% endif %}>{{ page_num }}</option>
            {% endfor %}
        </select>
    </div>

    {% if usuarios.has_prev %}
        <a href="{{ url_for('user', page=usuarios.prev_num) }}" class="pagination-arrow">&lt;</a>
    {% else %}
        <span class="pagination-arrow disabled">&lt;</span>
    {% endif %}

    {% if usuarios.has_next %}
        <a href="{{ url_for('user', page=usuarios.next_num) }}" class="pagination-arrow">&gt;</a>
    {% else %}
        <span class="pagination-arrow disabled">&gt;</span>
    {% endif %}
</div>

<script>
    document.getElementById('search-input').addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            var searchQuery = this.value.trim();
            var currentUrl = new URL(window.location.href);
            currentUrl.searchParams.set('q', searchQuery);
            window.location.href = currentUrl.href;
        }
    });
</script>
{% endblock %}
