<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Devops Culture</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
  </head>
  <body>
      <div class="container">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul id="messages" class="list-unstyled" style="position: fixed; top: 20px; right: 20px;">
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                            <li class="alert alert-danger">
                                <i class="fas fa-exclamation-circle"></i> {{ message }}
                            </li>
                        {% else %}   
                            <li class="alert alert-success">
                                <i class="fas fa-check-circle"></i> {{ message }}
                            </li> 
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="vertical-bar">
            <ul class="icon-list">
                <li data-tooltip="Primeiro Ícone"><a href="#"><i class="fa-solid fa-house"></i></a></li>
                <li class="separator"></li>
                <li data-tooltip="Segundo Ícone"><a href="#"><i class="fa-solid fa-list"></i></a></li>
                <li class="separator"></li>
                <li data-tooltip="Quarto Ícone"><a href="{{ url_for('user') }}"><i class="fas fa-user"></i></a></li>
                <li class="bottom-icon" data-tooltip="Quinto Ícone"><a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-to-bracket"></i></a></li>
            </ul>
        </div>
    
        {% block conteudo %} {% endblock %}

            <script type="text/javascript" src="{{ url_for('static', filename='javascript/jquery.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='javascript/app.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='javascript/message.js') }}"></script>
        </div>
    </body>
</html>