{% extends "template.html" %}
{% block conteudo %}

<div class="navbar-pages">
    <span class="title">{{ titulo }}</span>
    <a class="btn btn-primary" href="{{ url_for('novo') }}" style="float: right;">Novo Usuário</a>
</div>

<table class="table-container">
    <thead class="thead-default">
        <tr>
            <th style="text-align: center; vertical-align: middle;">Nome</th>
            <th style="text-align: center; vertical-align: middle;">User</th>
            <th style="text-align: center; vertical-align: middle;">User</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios.items %}
        <tr>
            <td style="text-align: center; vertical-align: middle;">{{ usuario.nome }}</td>
            <td style="text-align: center; vertical-align: middle;">{{ usuario.nickname }}</td>
            <td style="text-align: center; vertical-align: middle; width: 100px; height: 50px;">
                <i class="fa-solid fa-pen-to-square" style="font-size: 20px; margin-right: 10px;"></i>
                <i class="fa-solid fa-trash" style="font-size: 20px;"></i>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


    <div class="pagination-arrows" style="float: right;">

        <div class="pagination-dropdown-container" >
            <select onchange="window.location.href=this.value" class="pagination-dropdown">
                {% for page_num in range(1, usuarios.pages + 1) %}
                    <option value="{{ url_for('user', page=page_num) }}" {% if usuarios.page == page_num %} selected {% endif %}>{{ page_num }}</option>
                {% endfor %}
            </select>
        </div>


        {% if usuarios.has_prev %}
            <a href="{{ url_for('user', page=usuarios.prev_num) }}" class="pagination-arrow">&lt;</a>
        {% else %}
            <span class="pagination-arrow disabled">&lt;</span>
        {% endif %}

        {% if usuarios.has_next %}
            <a href="{{ url_for('user', page=usuarios.next_num) }}" class="pagination-arrow">&gt;</a>
        {% else %}
            <span class="pagination-arrow disabled">&gt;</span>
        {% endif %}
    </div>

{% endblock %}